services:
  postgres:
    image: postgres:16
    container_name: trading_postgres_db
    restart: always
    env_file: .env
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  trading-bot:
    build: .
    container_name: trading_bot
    restart: always
    depends_on:
      - postgres
    env_file: .env
    environment:
      POSTGRES_HOST: postgres
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_PORT: 5432
    volumes:
      - ./:/app

volumes:
  postgres_data:
